@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .custom-component{
    padding: 1rem;

    @screen md {
      padding: 2rem;
    }
    @screen lg {
      padding: 3rem;
    }
  }
}

@layer utilities{
  
  @keyframes wiggle {
    0%, 100% {transform: rotate(-3deg);}
    50% {transform: rotate(-3deg);}
  }
  .hover-wiggle{
    @apply transition-transform duration-300 ease-in-out
  }
  .hover-wiggle:hover{
    animation: wiggle 0.5s ease-in-out;
  }
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: rgb(var(--background-start-rgb));
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html{
  scroll-behavior: smooth;
}
